* {
	box-sizing: border-box;
}

.clearfix:before {
	content: '';
	display: table;
	clear: both;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

body {
	margin: 0;
	padding: 0.25em 0.5em;
	font-size: 1em;
	color: #212121;
}

.container {
	max-width: 500px;
}

ul#todo-list {
	padding: 0;
	margin: 25px 0 0;
	list-style-type: none;
}

ul#todo-list > li {
	padding: 0.25em 1em;
	margin: 0 0 0.25em;
	background-color: #eee;
}

ul#todo-list > li:nth-child(even) {
	background-color: #ccc;
}